.siam {
    animation-name: img-anim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 20;
}
.siam2 {
    animation-name: img-anim2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 20;
}
.siam3 {
    animation-name: img-anim3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 20;
}
.siam4{
    animation-name: img-anim4;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.siam5{
    animation-name: img-anim5;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes img-anim {
    0%{
      top:80px;
      left:-20px;  
    }
    50%{
        top:50px;
        left:-20 px;
    }
   100%{
    top:80px;
    left:-20px;
    }
}

@keyframes img-anim2 {
    0%{
      top:128px;
      left:64px;  
    }
    50%{
        top:120px;
        left:64px;
    }
   100%{
    top:128px;
      left:64px;
    }
}
@keyframes img-anim3 {
    0%{
      top:40px;
      right:-40px;  
    }
    50%{
        top:30px;
        right:-40px; 
    }
   100%{
    top:40px;
    right:-40px; 
    }
}
@keyframes img-anim4 {
    0%{
      top:-56px;
      left:-20px;  
    }
    50%{
        top:-40px;
        left:-20px;  
    }
   100%{
    top:-56px;
    left:-20px; 
    }
}
@keyframes img-anim5 {
    0%{
      bottom:-12px;
      right:-32px;  
    }
    50%{
        bottom:-5px;
      right:-32px;   
    }
   100%{
    bottom:-12px;
    right:-32px; 
    }
}